div#content {
  padding: 50px;
  background-color: red;
  border: solid 7px #333333;
  height: 80vh;
  margin: 10px 10px 0px 10px;
}

h1#header:hover{
  font-size: 200%
}

h1, h2, h3 {
  font-family: "Courier New", monospace;
}
img{
      width: 450px;
      height: auto;
}
p{
  letter-spacing: 5px;
  word-spacing: 6px;
  line-height: 30px;
}
body {
  font-family: Helvetica, Verdana, Arial, "san serif";
  background-color: #d4981ded;
  padding: 25px;
  font-size: 120%;
}
a {
  text-decoration: underline;
  color: #ed9d10;
}
a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
}

img:hover {
    width: 600px;
}
img {
    transition: all 0.5s;
}

#content {
  font-family: 'Crimson Pro', serif;
  line-height: 2em;
  width: 900px;
  background-color: E8E62C;
  opacity: 90%;
  border-width: medium;
  border-radius: 30px;
  margin: 200px;
  padding: 30px;
}

h1 {
  text-align: center;
}

img{
  width: 100px;
  height: auto;
}

#floated {
  width: 30%;
  float: right;
  clear: right;
  border-style: dashed;
  border-radius: 30px;
  border-width: thick;
}

#content div{
  border: 3px grey;
  background-color: darkgrey;
  padding: 6px;
  margin: 8px 500px 8px 8px;
  min-width: 200px;
}

nav#links{
  display: inline-flex;
  position: sticky;
  top: 30px;
  margin: auto;
  background-color: darkred;
  overflow: hidden;
  line-height: 50px;
  width: auto;
  word-spacing: 3px;
  top: 0px;
}

aside#sidebar{
  display: inline-block;
  width: 30%;
  min-width: 200px;
  right: 30px;
  position: absolute;
  border: ;
}

aside#sidebar p{
  line-height: 30px;
}
